:root {
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "display display display display"
    "button-7 button-8 button-9 button-divide"
    "button-4 button-5 button-6 button-multiply"
    "button-1 button-2 button-3 button-subtract"
    "button-0 button-0 button-equals button-add";

  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 40%;
  right: 40%;

  border: slategray 3px solid;
  border-radius: 1em;
  overflow: hidden; /* Hide buttons going off borders */
}

#output-display {
  grid-area: display;
  align-self: center;
  justify-self: right;
  margin: 1em;
  font-size: xx-large;
}

#button-0 {
  grid-area: button-0;
}

#button-1 {
  grid-area: button-1;
}

#button-2 {
  grid-area: button-2;
}

#button-3 {
  grid-area: button-3;
}

#button-4 {
  grid-area: button-4;
}

#button-5 {
  grid-area: button-5;
}

#button-6 {
  grid-area: button-6;
}

#button-7 {
  grid-area: button-7;
}

#button-8 {
  grid-area: button-8;
}

#button-9 {
  grid-area: button-9;
}

#button-add {
  grid-area: button-add;
}

#button-subtract {
  grid-area: button-subtract;
}

#button-multiply {
  grid-area: button-multiply;
}

#button-divide {
  grid-area: button-divide;
}

#button-equals {
  grid-area: button-equals;
}